@layer base {
  @theme {
    /* Dimensions */
    --dimension-0: 0px;
    --dimension-25: 2px;
    --dimension-50: 4px;
    --dimension-75: 6px;
    --dimension-100: 8px;
    --dimension-150: 12px;
    --dimension-200: 16px;
    --dimension-250: 20px;
    --dimension-300: 24px;
    --dimension-400: 32px;
    --dimension-500: 40px;
    --dimension-600: 48px;
    --dimension-700: 56px;
    --dimension-800: 64px;
    --dimension-900: 72px;
    --dimension-1000: 80px;
    --dimension-1100: 88px;
    --dimension-1200: 96px;
    --dimension-1300: 104px;
    --dimension-1400: 112px;
    --dimension-1500: 120px;
    --dimension-1600: 128px;
  }
}
